*{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    position: relative;
    height: 100%;
    width: 100%;
}

.header1{
    width: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-header{
    background-color: black;
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-header ul{
    margin: 0;
    float: left;
    margin-right: 30px;
    padding: 0 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: 99;
}
.nav-header ul li {
    background: black;
    position: relative;
    list-style: none;
    display: inline-block;
    z-index: 99;
}

.nav-header ul li a{
    display: block;
    padding: 0 15px;
    text-decoration: none;
    line-height: 60px;
    font-size: 20px;
    color: white;
    z-index: 99;
}

.nav-header ul li a:hover  {
    background: #23a6f7;
}
.nav-header ul ul {
    position: absolute;
    top: 60px;
    display: none;
    z-index: 99;
}
.nav-header ul li:hover >ul{
    display: block;
}
.nav-header ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
    z-index: 99;
}
.radio-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-inputs > * {
    margin: 6px;
}

.radio-input:checked + .radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #2260ff;
}

.radio-input:checked + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #2260ff;
}

.radio-input:checked + .radio-tile .radio-icon svg {
    fill: #2260ff;
}

.radio-input:checked + .radio-tile .radio-label {
    color: #2260ff;
}

.radio-input:focus + .radio-tile {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
}

.radio-input:focus + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
}

.radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    min-height: 80px;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
}

.radio-tile:hover {
    border-color: #2260ff;
}

.radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}

.radio-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
    font-size: 13px;
}

.radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
